<h1>Edit Item</h1>
<%= form_for @item do |f|%>
  <%= f.label :creator %> :
  <%= f.text_field :creator %>

  <%= f.label :task %> :
  <%= f.text_field :task %>

  <%= f.submit %>
<% end %>
<%= link_to 'List', items_path %>
